
{% extends 'clinic/base.html' %}

{% block title %}Our Vets{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Our Veterinary Team</h1>
    <div class="row mt-4">
        {% for vet in object_list %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">{{ vet.name }}</h5>
                </div>
                <div class="card-body">
                    <h6>Specializations:</h6>
                    <ul>
                        {% for spec in vet.specializations.all %}
                        <li>{{ spec.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{% url 'vet-schedule' vet.pk %}" class="btn btn-sm btn-primary">
                        View Schedule
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}